$Roboto: 'Roboto', sans-serif;

$main-black_c:#282828;
$main-text_c: #464646;
$input-border_c: #CECECE;
$white_c: #FFFFFF;
$bg-grey_c: #E5E5E5;
$red_c: #CC0000;
$green_c: #28A745;
$lightgreen_c: #3DC47E;
$ref_c: #0088CC;
$grey_c: #868686;
$lightgrey_c:#8990A5;