@media screen and (max-width: 830px) {
  .logo {
    margin-top: 20px;
  }
  .combiner {
    margin-top: 15px;
    flex-direction: column;
  }
  .sign-in-button {
    margin-top: 15px;
    margin-bottom: 10px;
  }
}