@media screen and (max-width: 600px) {
  .linkset__list-item {
    margin-right: 15px;
    margin-top: 10px;
  }
  .combiner-row {
    width: 100%;
    justify-content:space-between;
    align-items: center;
  }
  .burger-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40px;
    height: 40px;
    margin-top: 20px;
    border: none;
    background-color: #fff;
  }
  .burger-button__line {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #464646;
  }
  .burger-button__middle-line {
    margin-top: 4px;
  }
  .burger-button__bottom-line {
    margin-top: 4px;
  }
  .linkset_mobile {
    display:flex;
  }
  .linkset {
    display: none;
  }
}