.footer {
  flex-direction: column;
  display:flex;
  justify-content: center;
}
.support {
  min-height: 112px;
  background-color: #1E1E20;
  display:flex;
  justify-content: center;
}
.label {
  font: normal normal 500 22px/150% $Roboto;
  color: $white_c;
  text-align: center;
}
.phones {
  display: flex;
}
.phones__phone-number {
  font: normal normal 700 32px/150% $Roboto;
  color: $white_c;
}
.phones__phone-number:first-child {
  margin-right: 32px;
}
.socials {
  display: flex;
}
.socials__item {
  margin-left: 16px;
}

.links {
  min-height: 171px;
  background-color: #171718;
  display: flex;
  justify-content:center;
}

.linksets {
  flex-direction: column;
  margin-top: 32px;

  .linkset {
    display: flex;
    margin-bottom: 21px;
    align-items: center;
  }
  .linkset__label {
    font: normal normal 900 13px/15px $Roboto;
    color: $white_c;
    margin-right: 24px;
  }
  .linkset__list {}
  .linkset__list-item {
    margin-right:8px;
    min-width: 160px;
  }
  .linkset__link {
    font: normal normal 500 14px/150% $Roboto;
    color:$grey_c;
  }
  .policies {
    .linkset__list-item {
      min-width: fit-content;
      margin-right: 16px;
    }
    .linkset__link {
      color: $white_c;
    }
  }
}

.copyrights {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:30px;
  margin-bottom: 40px;
  padding: 0 30px;
}
.recommend {
  max-width: 467px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.recommend__image {
  width:min-content;
}
.copyrights-text {
  font: normal normal 500 15px/150% $Roboto;
  text-align: center;
  margin-top: 20px;
}
.whois-provider {
  font: normal normal 500 15px/150% $Roboto;
  text-align: center;
  margin-top: 8px;
}